input{
  padding: 7px;
  width: 100%;
 margin: 10px 0px;
 border-radius: 10px;
 border-color: #fff;
}
input:focus{
  outline: none;
}
button{
  padding: 7px 30px;
  border-radius: 10px;
  border-color: #fff;
}
/* table */

.table ,tr,th,td{
 border: 1px solid black;
 border-collapse: collapse !important;
}